@font-face {
    font-family: HelveticaNeue; /* Гарнитура шрифта */
    src: url("fonts/helveticaneue.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: HelveticaNeueLight; /* Гарнитура шрифта */
    src: url("fonts/helveticaneueultralight.ttf"); /* Путь к файлу со шрифтом */
}
::placeholder{
color: #FFF;
}
header{
  background-color: #007bff;
  font-family: HelveticaNeue;
  font-size: 20px;
  color: white;
  padding: 15px 20px;
}
.search-field{
  font-size: 20px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 20px;
  width: 200px;
  padding: 5px 10px;
  color: white;
  margin: 0;
}
form{
  float:right;
  width: 300px;
  margin-top: -8px;
}
