@font-face {
  font-family: HelveticaNeue;
  /* Гарнитура шрифта */
  src: url("fonts/helveticaneue.ttf");
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: HelveticaNeueLight;
  /* Гарнитура шрифта */
  src: url("fonts/helveticaneuelight.ttf");
  /* Путь к файлу со шрифтом */
}

::placeholder {
  color: #FFF;
}

header {
  background-color: #007bff;
  font-family: HelveticaNeue;
  font-size: 20px;
  color: white;
  padding: 15px 20px 1px 20px;
  position: relative;
  width: 100%;
}

body, html {
  height: 100%;
  transition: 1s;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: -10;
  background: #F2C14E;
  /* Для браузеров, которые не поддерживают градиенты */
  background: -webkit-linear-gradient(left, #F2C14E, #F78154);
  /* Для Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left, #F2C14E, #F78154);
  /* Для Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left, #F2C14E, #F78154);
  /* Для Firefox 3.6 - 15 */
  background: linear-gradient(to left, #F2C14E, #F78154);
  /* Стандартный синтаксис */
}

.canv {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

.nav-link {
  color: white;
  font-family: HelveticaNeueLight;
  font-size: 22px;
}

.nav-link:hover {
  background-color: white;
  border-radius: 20px;
  color: #007bff;
  transition: 0.5s;
}

.fa-question-circle {
  margin-top: -5px;
  font-size: 30px;
}

.fa-question-circle:hover {
  background-color: white;
  border-radius: 50px;
  color: #007bff;
}

.github i {
  color: white;
}

.edge {
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 100px;
}

.graph-img {
  background-image: url("../src/graphs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.machine-img {
  background-image: url("../src/machine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-text {
  color: white;
  padding: 7vw 0;
  font-family: HelveticaNeueLight;
  font-size: 50px;
}

.paragraph-text {
  color: rgb(23, 23, 23);
  padding: 50px 50px;
  font-family: HelveticaNeue;
  font-size: 24px;
  text-align: left;
}

.learn-btn {
  background-color: #72c44b;
  font-family: HelveticaNeue;
  font-size: 22px;
  border-radius: 10px;
  padding: 15px 30px;
  color: white;
  position: fixed;
  bottom: 40px;
  left: 50%;
  width: 250px;
  margin-left: -125px;
}

.learn-btn:hover {
  color: white;
  background-color: #5f9e40;
  text-decoration: none;
}

#next {
  font-size: 64px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transform: rotate(90deg);
}

#previous {
  font-size: 64px;
  position: fixed;
  left: 20px;
  transform: rotate(-90deg);
  bottom: 20px;
}

@media screen and (max-width:690px) {
  .nav-link {
    color: white;
    font-family: HelveticaNeueLight;
    font-size: 22px;
  }
  .github {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  nav {
    padding: 20px 0 10px 0;
  }
}