@font-face {
    font-family: HelveticaNeue; /* Гарнитура шрифта */
    src: url("fonts/helveticaneue.ttf"); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: HelveticaNeueLight; /* Гарнитура шрифта */
    src: url("fonts/helveticaneuelight.ttf"); /* Путь к файлу со шрифтом */
}
::placeholder{
color: #FFF;
}
header{
  background-color: #007bff;
  font-family: HelveticaNeue;
  font-size: 20px;
  height: 52px;
  color: white;
  padding: 15px 20px;
  position: relatives;
  width: 100%;
}

.nav-link{
  color: white;
  font-family: HelveticaNeueLight;
  font-size: 22px;
}

.nav-link:hover{
  background-color: white;
  border-radius: 20px;
  color: #007bff;
  transition: 0.5s;
}

.fa-question-circle{
  margin-top:-5px;
  font-size: 30px;
}

.fa-question-circle:hover{
    background-color: white;
    border-radius: 25px;
    color: #007bff;
}

.github i{
  color: white;
}

.graph-img{
  background-image: url("../src/graphs.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.machine-img{
  background-image: url("../src/machine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-text{
  color: white;
  padding: 7vw 0;
  font-family: HelveticaNeueLight;
  font-size: 50px;
}

.paragraph-text{
    color: rgb(23, 23, 23);
    padding: 50px 50px;
    font-family: HelveticaNeue;
    font-size: 24px;
    text-align: left;
}

.learn-btn{
  background-color: #72c44b;
  font-family: HelveticaNeue;
  font-size: 22px;
  border-radius: 10px;
  padding: 15px 30px;
  color: white;
}

.learn-btn:hover{
  color: white;
  background-color: #5f9e40;
  text-decoration: none;
}
